.form-label-group
  = f.label :password, t('password', scope: 'activemodel.attributes.user')
  %br
  = f.input :password, class: 'form-control', label: false

  .form-label-group
    = f.label :password_confirmation, t('password_confirmation', scope: 'activemodel.attributes.user')
    %br
    = f.input :password_confirmation, class: 'form-control', label: false