.div.mt-3
  .row
    .col-sm-1
    .col-sm-10
      .card
        .card-header.bigger= t('title', scope: "admin.#{controller_name.pluralize}.new")
        .card-body
          = render "admin/#{controller_name.pluralize}/form", action_url: [:admin, controller_name.pluralize.to_sym], method: :post
    .col-sm-2