.div.mt-3
  .row
    .col-sm-1
    .col-sm-10
      = simple_form_for @form, url: account_path, method: :patch, html: { class: 'customized', data: { turbo: "false" } } do |f|
        = render 'form', f: f, task: @form
    .col-sm-2
