// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "bootstrap-datepicker";
@import "floating-labels";
@import "sessions";

body.login-bg { background-color: #f5f5f5; }
.bg-light-darker { background-color: #f5f5f5; }

h2.default-header { padding: 20px 10px; }
h2.login-header { padding: 20px 0px; text-align: center; }
.dropdown.drop-to-right .dropdown-menu { left: unset; right: 0; }
.bootstrap-select .dropdown-menu.show { max-width: 100%; } // fix

.container-fluid.pt { padding-top: 20px; margin-bottom: 30px; }
.pull-right { float: right; }
.strong { font-weight: bold; }
.hidden { display: none; }
.nav-index-list {
  .nav-link.active { color: #495057; }
}

// margins & paddings
.mt-sm { margin-top: 1rem; }
.mr-sm { margin-right: 1rem; }
.mb-sm { margin-bottom: 1rem; }
.ml-sm { margin-left: 1rem; }

// text formatting - colors
.text-alert { color: #dc3545; }
.text-gray { color: #666666; }

// default list - no bullets
ul {
  list-style: none;
  padding-left: 0;
}

// form
.simple_form.customized {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.datepicker { padding: 0.375rem 0.75rem; } // fix
.form-check-input.is-valid ~ .form-check-label { color: #212529; } // fix
form {
  .error {
    color: #721c24;
    margin-left: 2px;
    font-size: 14px;
  }
}

.popup {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: auto;

  .popup-bg {
    width: 100%;
    height: 100%;
    //background-color: rgba(0, 0, 0, 0.3);
  }
  .popup-box {
    position: absolute;
    width: 300px;
    height: 250px;
    top: calc(50vh - 125px);
    left: calc(50vw - 150px);
  }
  &.add-new-data .popup-box {
    width: 1200px;
    height: auto;
    top: 120px;
    left: calc(50vw - 600px);
  }
  .card-body { padding: 40px; }
  .link { display: none; }
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 10;
  }
}

.avatar {
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 4px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

// buttons
.link { font-size: 0.9rem; }
a.btn, .btn {
  display: inline-block;
}
.btn-xs {
  padding: 0.25rem 0.3rem;
  font-size: 0.7rem;
  line-height: 1;
}

.btn-sm {
  display: inline-block;
  height: 32px;
  border-width: 1px;
  &:hover {
    text-decoration: none !important;
  }
}

// Panel - Cards
.card {
  .tools-box .btn { margin-left: 3px; }

  // form
  label {
    font-weight: bold;
    margin-right: 10px;
    width: calc(50% - 15px);
  }

  .input input { width: 50%; }
}

.card-header.bigger {
  font-size: 1.5rem;
  vertical-align: center;
  .avatar {
    float: left;
    border-color: #000;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.2;
  }
}
