.login {
  padding-top: 40px;
  .login-box {
    width: 95%;
    max-width: 390px;
    margin: auto;
    padding: 40px 0;
  }
  .favicon {
    width: 72px;
    height: 72px;
    display: block;
    margin: auto;
    color: purple
  }
  form { padding-bottom: 40px; }
  .form-label-group input {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

span.error {
  color: #730E15;
  font-size: 80%;
  padding-left: 10px;
}