.login {
  padding-top: 40px;
  .login-box {
    width: 95%;
    max-width: 390px;
    margin: auto;
    padding: 40px 0;
  }
  .favicon {
    width: 72px;
    height: 72px;
    display: block;
    margin: auto;
    color: purple
  }
  form { padding-bottom: 40px; }
}
